body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


div {
    box-sizing: border-box;
}

.game-container {
    position: relative;
    width: 900px;
    height: 600px;
    border: 1px solid #000;
    background-color: rgba(240, 248, 255, 0.70);
}

.snake {
    width: 20px;
    height: 20px;
    background-color: #26bd26;
    position: absolute;
    z-index: 1;
}


.snake-head {
    background-color: darkgreen;
}

.food {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
}

.score {
    position: absolute;
    top : 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    z-index: -1;
}

